
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <br>
           <div id="profile-app">
            <input id="cur-user-id" type="hidden" value ="<%= current_user.id %>" />
            <input id="cur-user-nickname" type="hidden" value ="<%= current_user.nickname %>" />
            <div class="my-profile">
            </div>
          </div>
      <%= render 'friends/friends' %>     
    </div>
    <div class="col-3">
      <%= render 'friends/friend_profile' %>
    </div>
  </div>
</div>

<%= render 'users/list' %>


<script type="text/template" id="profile-tmpl">
<div class="container p-3">

<form id="avatar-form" enctype="multipart/form-data">
  <div class="form-group row">
    <label>Avatar</label>
    <input type="file" class="form-control-file avatar" id="avatar" accept="image/*">
  </div>
  <button type="submit" class="btn btn-primary btn-sm">Change Avatar</button>
</form>
</div>

  <img src="{{=avatar_url}}" width ="190"/>
    <div class="card no-outline">
      <div class="card-body">
        <small>Logged in as</small><br>
        <div class="view">
          <label>{{=nickname }}</label>
        </div>
        <br><b>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"button is-info" %>
        </b>
      </div>
    </div>
</script>
