<section id="msg-app">
    <header id="header">
      <form id ="create-message">
      <input id="auth-token" type="hidden" value= "<%= form_authenticity_token %>" >
      <input id="room-id" type="hidden" value= "<%= room.id %>" >
      <input id="user-id" type="hidden" value= "<%= current_user.id %>" >
      <input id="new-msg" placeholder="Add Message here!">
      <button type=submit class="btn btn-outline-success">CREATE</button>
      </form>
    </header>
    <section id="main">
      <ul id="msg-list"></ul>
    </section>
  </section>

  <!-- Templates -->
  <script type="text/template" id="item-template">
    <div class="view">
      <label>{{= content }}</label>
    </div>
  </script>

<div id="message-form"></div>

<%= form_with(model: message, local: true, class:'form-inline') do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :room_id, value: room.id %>
  <div class="input-group">
    <%= form.text_field :content, placeholder: "Type your message here...", class: 'form-control mr-2' %>
    <div class="input-group-append">
      <%= form.submit "Add Message", id: "send", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
